apiVersion: apps/v1
kind: Deployment
metadata:
  name: employee-frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: angular-container
          # Docker Hub ka sahi path: hrajpoot121/employee-frontend
          image: hrajpoot121/employee-frontend:latest
          # Isse Kubernetes hamesha fresh image pull karega
          imagePullPolicy: Always
          ports:
            - containerPort: 80 # Nginx default port
