name: Local Deployment Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  deploy-locally:
    # This tells GitHub to run the job on your machine
    runs-on: self-hosted

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build with Maven
        run: mvn clean package -DskipTests

      - name: Build Docker Image
        run: docker build -t employee-payroll-app:latest .

      - name: Deploy to Kubernetes (Local)
        run: |
          kubectl apply -f k8s/deployment.yaml
          kubectl apply -f k8s/service.yaml
          kubectl rollout restart deployment employee-app-deployment