name: Local Deployment Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  deploy-locally:
    runs-on: self-hosted

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build with Maven
        run: mvn clean package -DskipTests

      # 1. Image ko Docker Hub ke username ke saath tag karein
      - name: Build Docker Image
        run: docker build -t hrajpoot121/employee-backend:latest .

      # 2. Docker Hub par login karne ka step add karein
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # 3. Image ko Docker Hub par push karein
      - name: Push to Docker Hub
        run: docker push hrajpoot121/employee-backend:latest

      # 4. Local Kubernetes par deploy karein
      - name: Deploy to Kubernetes (Local)
        run: |
          kubectl apply -f k8s/deployment.yaml
          kubectl apply -f k8s/service.yaml
          kubectl rollout restart deployment employee-app-deployment